<a href="https://colab.research.google.com/github/umberH/NNTrail/blob/main/PythonTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Tutorial with Google Colab

The main purpose of the notebook is to go through the basics of Python. This tutorial is developed by [Ambreen Hanif](https://www.linkedin.com/in/ambreen16/) a member of [BigDataSociety](https://data-science-group.github.io/BigDataSociety/),
 Macquarie University.

## Introduction

Python is a dynamically typed scripting language and over the last few year it has become a very powerful tool due to its libraries to handle the data and provide insights. Another dominating feature is code readability. 
Famous libraries for handling data are (numpy, pandas) and for visualizations (matplotlib, plotly) .

This tutorial is organized as a crash course for the basic of Python Programming Language. Towards the end we will use python for scientific data handling.


# Outline:
*  Introduction to Google Colab
*  Introduction to Python
*  Variables
> Data Types and Operations
*   Collections
> Introduction to Collection Types and Operations (Container, List, DIctionaries, Tuples) 
* Coditional Execution
* Iterations 
* Functions
* Arrays

We'll be using Python 3.7 for this iteration of the course. You can check your Python version at the command line by running 

```
python --version
```
Note that as of July 2021, Colab uses Python 3.7.10.


You can reporoduce the code provided in this notebook.

In [ ]:
!python --version

Python 3.7.10

## Get To Know Colab

### Why Colab?
 It easy for the beginners as we need not to worry about the installation.
 We can stay focus on learning python. 
This is pythong notebook and the extension of the file is 'ipynb'.

### How to use Colab?

We can Execute the code on Colab Using Runtime Tab or click on the play button in the beginning of the cell to execute the particular cell.

To Check and assign the shortcuts click CTRL+M H.

# Basics of Python

Python is a high-level, scripting programming language. Python code is very readable and we can code a problem in few lines of code.

It is Dynamically Typed language means same variable can hold different values at different times.

### Comments

We can write comments in the coding to make it more readable. 
use '#' for comments and for comments on multiple lines use <\`\`\`  ```>

```
# This is formatted as code
```

# Variable

We use this notation in Algebra as well. 
A variable is a named memory location. Variable is a box that contains a value. Think of the value as the contents of the box.

## Naming Variables



1.   Name must be comprised of digits, upper
case letters, lower case letters, and the
underscore character “_”
2.   Must begin with a letter or underscore

In [ ]:
#valid
_a=10

#invalid
9a = 10

#valid
_1 = 6

SyntaxError: ignored

Assignment Statement '='

In [ ]:
a=10 # assignment of value 10 to variable a

## Basic Data Types

When assign a value to the variable it will learn the data type.

### Numbers

Integer and float datatypes work similar to any other programming language.

In [ ]:
a = 3
print(a, type(a))

3 <class 'int'>

In [ ]:
b = 3.2
print(b, type(b))

3.2 <class 'float'>

Basic Mathematical Operations

In [ ]:
print("a + b =", a + b)   # Addition
print("b - a =", b-a)   # Subtraction
print("a x 2 =",a * 2)   # Multiplication
print("b ^ 2 =",b ** 2)  # Exponentiation

a + b = 6.2
b - a = 0.20000000000000018
a x 2 = 6
b ^ 2 = 10.240000000000002

Python doesn't have unary operation like (y++) and (y--).

In [ ]:
a += 1
print("increment", a)
a *= 2
print("multiplication",a)
a -=1
print("decrement", a)

increment 38
multiplication 76
decrement 75

In [ ]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

Calculate Area of Circle

In [ ]:
r=10 
pi=3.14

area= r**2*pi   # expression is pi x r x r
print(area)
r = 7 
print (area)
area= r*r*pi
print (area)

314.0
314.0
153.86

Order is important as well. To incorporate the updated value of r we need to use expression after value assignment to r.

### Precedence

Precedence is same as like in mathematics

In [ ]:
R = A + B*C 
S = A + (B*C)

T=  -A**2/4 
U = -(A**2)/4


V = A*B/C*D 
W = ((A*B)/C)*D

IndentationError: ignored


### Type Casting

Explicit Type Conversion is the way to provide the explicit data type.

In [ ]:
a = 4.5
c = 5.7 

b = int(a)+int(c)
print(b)

d= float(b)
print(d)

9
9.0

We can use long integers and complex numbers in python as well. For details please view this [documentation](https://docs.python.org/3.7/library/stdtypes.html#numeric-types-int-float-long-complex).

### Boolean

In [ ]:
t, f = True, False
print(type(t))

<class 'bool'>

logical operation examples

In [ ]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

### String

In [ ]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter
print(hello,"size", len(hello),world,"size",len(world))

hello size 5 world size 5

In [ ]:
hw = hello + ' ' + world  # String concatenation
print(hw)

hello world

In [ ]:
s12 = '{} {} {}'.format(hello, world, 12)  # string formatting
print(s12)

hello world 12

In [ ]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(7))     # Center a string, padding with spaces
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

### Type Casting with String

In [ ]:
s='123'
p = s*2
print(p)

q= float(s)*2
print(q)

r= int(s)*2
print(r)

s = -123 
t = s+2
u =str(t)*2
print(u)

123123
246.0
246
-121-121

For more operations please refer to this [documentation](https://docs.python.org/3.7/library/stdtypes.html#string-methods).

### User Input

In [ ]:
a = input('Enter a pos float: ')

Enter a pos float: 5

## Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.


*   List items are ordered, changeable, and allow duplicate values.
*   Tuple items are ordered, unchangeable, and allow duplicate values.
*   Set items are unordered, unchangeable, and do not allow duplicate values.

### Lists

In [ ]:
mylist = ["rabbit", "mouse", "bear"]

Access items of the list:

In [ ]:
mylist[1]

In [ ]:
mylist[-1]

### Sublists, Slicing

In [ ]:
nums = list(range(10))    # range is a built-in function that creates a list of integers
print(nums)         # Prints "[0, 1, 2, 3, 4]"
print(nums[2:7])    # Get a slice from index 2 to 7 (exclusive); prints "[2, 3, 4, 5, 6]"
print(nums[7:])     # Get a slice from index 7 to the end; prints "[7, 8, 9]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3, 4, 5, 6, 7, 8]"
nums[2:4] = [8, 9] # Assign a new sublist to a slice    
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6]
[7, 8, 9]
[0, 1]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 8, 9, 4, 5, 6, 7, 8, 9]

Change a Range of Item Values:

In [ ]:
mylist[1:2] = ["lion", "horse"]

In [ ]:
mylist.insert(2, "another")

Add items to the list:

In [ ]:
mylist.append("newanimal")

In [ ]:
newlist = ['a', 'b','c']
mylist.extend(newlist)

Remove items froma  a list:

In [ ]:
mylist.remove("a")

In [ ]:
mylist.pop(1) # consider the index of the item

In [ ]:
del mylist[0] # consider the index of the item

In [ ]:
mylist.clear() # empties the list

### Loop through a list:

In [ ]:
mylist = ["rabbit", "mouse", "bear"]  
for x in mylist:
  print(x)

In [ ]:
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

### List Comprehension

In [ ]:
names = ["A", "B", "C", "D", "E"]

newnames = [x for x in names if "a" in x]

print(newnames)

Sort lists: sort() method that will sort the list alphanumerically or numerically.

In [ ]:
list1 = [10, 50, 3, 0, 42]
list1.sort()
print(list1)

In [ ]:
thislist = ["Sara", "Zoey", "Ambreen", "John", "Kelly"]
print(thislist.sort())

### Dictionaries

In [ ]:
d = {'snake': 'slither', 'dog': 'walk','shark','swim'}  # Create a new dictionary with some data
print(d['snake'])       # Get an entry from a dictionary; prints "slither"
print('dog' in d)     # Check if a dictionary has a given key; prints "True"

slither
True

### Sets

In [ ]:
animal = {"rabbit", "mouse", "bear"}  # represented with paranthesis

multi_type_set = {12, 34.0 , "bear"}
multi_type_set.add(5)

Get the length of the set:

In [ ]:
print(len(animal))
print(multi_type_set)

3
{'bear', 34.0, 12, 5}

Remove set items:

In [ ]:
animal.remove("rabbit")

Loop in set items:

In [ ]:
for x in animal:
  print(x)

bear
mouse

Join two sets:

Using *union()* method returns a new set with all items from both sets:

In [ ]:
animal_2 = {"cow", "donkey" , "monkey"}
allanimals = animal.union(animal_2)
print(allanimals)

{'bear', 'mouse', 'cow', 'monkey', 'donkey'}

The *update()* method inserts the items in myset_2 into myset:

In [ ]:
animalslist = allanimals.update(animal_2)
print(animalslist)

None

The *intersection()* method will return a new set, that only contains the items that are present in both sets.

In [ ]:
newset = myset.intersection(myset_2)
print(newset)

{'cow', 'monkey', 'donkey'}

There also other methods like:


*   add(): to add an element to the set
*   clear():	to remove all the elements from the set
*   copy(): to	return a copy of the set
*   pop():	to remove an element from the set
*   ...

### Tuples

In [ ]:
mytuple = ("rabbit", "mouse", "bear")

Access items of the tuple:

In [ ]:
print(mytuple[0])

In [ ]:
print(mytuple[-1])

In [ ]:
mytuple = ('A','B','C','a','b','c')
print(mytuple[1:2])
print(mytuple[2:])

Tuples are unchangeable but there is a way by converting the tuple into a list.

In [ ]:
tuble2list = list(mytuple)
tuble2list[2] = "Z"
mytuple = tuple(tuble2list)
print(x)

Similarly we can use append() and remove() and other functions that have been introduced earlier using this trick.

Joining tuples: using + and * operators

In [ ]:
t1 = ("a", "b" , "c")
t2 = ("A", "B", 3)

print(t1 + t2)  # joining two tuples

In [ ]:
print(t1 * 2)  # multiplying the content of a tuple

## Iteration

Lists, tuples, dictionaries, and sets are all iterable containers. all have iter() which can be used to perform iterations.

In [ ]:
mytuple = ("rabbit", "mouse", "bear")
iter1 = iter(mytuple)
iter2 = iter(mytuple)
iter3 = iter(mytuple)
print(iter1)
print(iter2)
print(iter3)

In [ ]:
string = "STRING"
iter1 = iter(string)
iter2 = iter(string)
print(iter1)
print(iter2)

### Conditional Execution

##Decision Making

##Using Loops

## List Comprehension

## Map()

## Functions

##Arrays

### Array Indexing

### Data Types

### Array Maths